In [74]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
#boston = pd.read_csv('boston.csv')
#boston.head()

In [6]:
len(boston.columns)

NameError: name 'boston' is not defined

In [61]:
temp = pd.read_csv('hly-temp-normal.txt', header=None, delim_whitespace=True)
temp.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,AQW00061705,1,1,804P,803C,801C,799C,797C,797C,796C,...,857C,854C,849C,843C,835C,824C,817C,813C,809C,808C
1,AQW00061705,1,2,804P,803C,801C,799C,797C,796C,796C,...,858C,854C,849C,843C,834C,824C,817C,813C,809C,807C
2,AQW00061705,1,3,803P,802C,801C,799C,797C,796C,795C,...,858C,854C,850C,844C,835C,824C,817C,813C,809C,808C
3,AQW00061705,1,4,802P,803C,801C,800C,798C,796C,795C,...,858C,854C,850C,844C,835C,824C,818C,813C,810C,809C
4,AQW00061705,1,5,802P,803C,801C,800C,798C,796C,795C,...,858C,855C,851C,844C,835C,825C,818C,814C,810C,809C

In [71]:
temp[3] = temp[3].str.rstrip('PCS')
for idx in range(4,27):
    temp[idx] = temp[idx].str.rstrip('PCS')
temp.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,AQW00061705,1,1,804,803,801,799,797,797,796,...,857,854,849,843,835,824,817,813,809,808
1,AQW00061705,1,2,804,803,801,799,797,796,796,...,858,854,849,843,834,824,817,813,809,807
2,AQW00061705,1,3,803,802,801,799,797,796,795,...,858,854,850,844,835,824,817,813,809,808
3,AQW00061705,1,4,802,803,801,800,798,796,795,...,858,854,850,844,835,824,818,813,810,809
4,AQW00061705,1,5,802,803,801,800,798,796,795,...,858,855,851,844,835,825,818,814,810,809

In [77]:
imputer_col = Imputer(-9999, 'mean', 0)
for col in range(3,27):
    temp[col] = pd.to_numeric(temp[col])
    
test = imputer_col.fit_transform(temp.loc[:,3:27])

In [82]:
temp.loc[:,3:27] = test
-9999 in temp

False

In [85]:
np.mean(temp.loc[:,3:3], axis=1)

0         804.000000
1         804.000000
2         803.000000
3         802.000000
4         802.000000
5         523.914604
6         523.914604
7         523.914604
8         523.914604
9         523.914604
10        523.914604
11        523.914604
12        523.914604
13        523.914604
14        523.914604
15        523.914604
16        523.914604
17        523.914604
18        523.914604
19        523.914604
20        523.914604
21        523.914604
22        523.914604
23        523.914604
24        523.914604
25        523.914604
26        523.914604
27        523.914604
28        523.914604
29        523.914604
             ...
166775    173.000000
166776    170.000000
166777    164.000000
166778    160.000000
166779    157.000000
166780    154.000000
166781    152.000000
166782    146.000000
166783    145.000000
166784    141.000000
166785    135.000000
166786    130.000000
166787    126.000000
166788    123.000000
166789    117.000000
166790    110.000000
166791    103.000000
166792     96.000000
166793     94.000000
166794    523.914604
166795    523.914604
166796    523.914604
166797    523.914604
166798    523.914604
166799    523.914604
166800    523.914604
166801    523.914604
166802    523.914604
166803    523.914604
166804    523.914604
dtype: float64

In [101]:
np.mean(temp.loc[:, 3:(10 - 1)], axis=1)

0         799.571429
1         799.428571
2         799.000000
3         799.285714
4         799.285714
5         759.844943
6         759.844943
7         759.416372
8         759.130658
9         759.130658
10        759.273515
11        759.273515
12        759.130658
13        759.273515
14        759.559229
15        758.987801
16        758.702086
17        758.416372
18        758.416372
19        758.130658
20        758.273515
21        758.702086
22        758.844943
23        758.844943
24        758.559229
25        758.702086
26        758.559229
27        758.987801
28        758.987801
29        759.130658
             ...
166775    154.000000
166776    149.857143
166777    143.857143
166778    138.285714
166779    133.857143
166780    131.285714
166781    127.285714
166782    121.714286
166783    119.428571
166784    116.285714
166785    110.714286
166786    107.285714
166787    106.142857
166788    104.571429
166789    100.571429
166790     94.857143
166791     90.714286
166792     86.714286
166793     87.285714
166794    149.987801
166795    146.844943
166796    144.559229
166797    143.987801
166798    142.273515
166799    139.702086
166800    139.844943
166801    139.844943
166802    137.559229
166803    135.559229
166804    133.273515
dtype: float64

In [95]:
test = temp.groupby([0,1,2])[3].mean().shift(1)
test[450:500]

0            1  2
FMW00040308  3  27    791.0
                28    791.0
                29    791.0
                30    791.0
                31    791.0
             4  1     792.0
                2     792.0
                3     792.0
                4     792.0
                5     792.0
                6     792.0
                7     792.0
                8     792.0
                9     793.0
                10    793.0
                11    793.0
                12    793.0
                13    793.0
                14    794.0
                15    795.0
                16    795.0
                17    796.0
                18    796.0
                19    796.0
                20    797.0
                21    798.0
                22    799.0
                23    799.0
                24    799.0
                25    799.0
                26    799.0
                27    799.0
                28    799.0
                29    799.0
                30    799.0
             5  1     799.0
                2     799.0
                3     799.0
                4     800.0
                5     799.0
                6     799.0
                7     799.0
                8     799.0
                9     798.0
                10    798.0
                11    798.0
                12    798.0
                13    798.0
                14    798.0
                15    798.0
Name: 3, dtype: float64